body {
  background-color: rgb(185, 115, 226);
  align-content: center;
}

.App-header{
  margin: 5px;
  font-size: 36px;
  text-align: center;
  color: white;
}

.Board {
  width: 300px;
  height: 300px;
  
  display:flex;  
  flex-wrap:wrap;

  position: relative;
  left: 35%;
}

.Cell {
  border: 1px solid black;
  border-radius: 10px;

  /* text-align: center; */
  background: rgb(147, 203, 235);

  display: flex;
  flex-basis:30.3%;
  justify-content: center;
  box-sizing: border-box;

  box-shadow: 0 0 8px 0 black;

  margin: 3px;
}

.value {
  /* justify-content: center; */
  margin: auto;
  /* margin-bottom: 0; */
  /* height: 10%; */
  font-size: 40px;
  color: white;
}


.Cell:hover{
  cursor: pointer;
  background-color:rgba(147, 203, 235, 0.8);
}

.Cell:active{
  background: rgb(147, 203, 235);

  transform: translateY(4px);
  box-shadow: 0 0 4px 0 black;
}

