body {
  background-color: rgb(241, 126, 126);
  align-content: center;
}

.App-header{
  font-size: 48px;
  text-align: center;
}

.Board {
  width: 700px;
  height: 700px;
  
  display:flex;  
  flex-wrap:wrap;

  position: relative;
  left: 22%;
}

.Cell {
  border: 1px solid black;
  border-radius: 10px;

  /* text-align: center; */
  background: rgb(141, 214, 119);

  display: flex;
  flex-basis:32.3%;
  justify-content: center;
  box-sizing: border-box;

  box-shadow: 0 0 8px 0 black;

  margin: 3px;
}

.value {
  margin: auto;
  font-size: 80px;
  color: white;
}


.Cell:hover{
  cursor: pointer;
  background-color: rgba(141, 214, 119, 0.863);
}

.Cell:active{
  background: rgb(141, 214, 119);

  transform: translateY(4px);
  box-shadow: 0 0 4px 0 black;
}

